#request_quote_table{
    width: 600px;
    border-spacing: 0px;
}
#request_quote_table th{
    height: 50px;
    color: #000000;
    text-align: left;
    padding-left: 20px;
    background-image: -webkit-linear-gradient(bottom, rgb(207,230,230) 28%, rgb(227,235,254) 64%);
    background-color: rgb(207,230,230);
}

form.si_contact_form1 {
    color: #333;
}


form.si_contact_form1 fieldset{
    border: none;
}


form.si_contact_form1 fieldset p{
    padding: 5px 10px 7px;
    margin: 0;
    list-style: none;
}

div.error { display: none; }
input { border: 1px solid black; }
input.checkbox { border: none }
input:focus { border: 1px dotted black; }
input.error { border: 1px dotted red; }
form.si_contact_form1 .gray * { color: gray; }

form.si_contact_form1 label {
    width: 120px;
    display: inline-block;
    line-height: 1.8;
    vertical-align: top;
    cursor: hand;
}

form.si_contact_form1 label.error {
    width: 140px;
    color: #7c1703;
    font-size: 10;
}
#submit_button{
    text-align: center;
}


.login_button {
    -moz-box-shadow:inset 0px 1px 0px 0px #b8bee6;
    -webkit-box-shadow:inset 0px 1px 0px 0px #b8bee6;
    box-shadow: inset 0px 1px 0px 0px #b8bee6;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #83b9de), color-stop(1, #5f8ba3) );
    background: -moz-linear-gradient( center top, #83b9de 5%, #5f8ba3 100% );
    background-color: #83b9de;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #282194;
    display: inline-block;
    color: #081333;
    font-size: 12px;
    font-weight: normal;
    padding: 10px 60px;
    text-decoration: none;
    text-shadow: 1px 1px 0px #a6c5e6;
    font-family: Calibri, Arial, sans-serif;
    font-size: 13px;
}
.login_button:hover {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5f8ba3), color-stop(1, #83b9de) );
    background: -moz-linear-gradient( center top, #5f8ba3 5%, #83b9de 100% );
    background-color: #5f8ba3;
}
.login_button:active {
    position: relative;
    top: 1px;
}


.grey_button {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#ededed;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#777777;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:2px 6px;
    text-decoration:none;
    font-family: Calibri, Arial, sans-serif;
    font-size: 13px;
}
.grey_button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
    background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color:#dfdfdf;
}
.grey_button:active {
    position:relative;
    top:1px;
}