#menu{
    border: 1px solid #b0b1b1;
    width: 100%;
    border-spacing: 0px;
}
#menu th{
    height: 50px;
    color: #000000;
    background-image: -webkit-linear-gradient(bottom, rgb(207,230,230) 28%, rgb(227,235,254) 64%);
    background-color: rgb(207,230,230);
}

#menu td{
    border-top: 1px solid #c2c2c3;
}
.link{
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    text-align: left;
}
.link:hover{
    background-color: #e3ebfe;
}
.picture{
    width: 50px;
}
.picture img{
    padding-top: 3px;
}
.username{
    text-align: left;
}
.border{
   border: 3px solid #ddddde; 
}
#active_link{
    border-left: 2px solid #86a5e9;
}
#menu_user_logged_in_img{
    border: 1px solid #b0b1b1;
    width: 100%;
    border-spacing: 0px;
}
#menu_user_logged_in_img td{
    height: 190px;
    width: 190px;
    padding: 1px;
    border-spacing: 0px;
    display: block;
}
#menu_user_logged_in_img img{
    height: 190px;
    width: 190px
}
#menu_user_logged_in_info{
    border: none;
    width: 100%;
}
#menu_user_logged_in_info th{
    font-size: 25px;
    text-align: left;
}
#menu_user_logged_in_info td.username{
    font-size: 22px;
    color: #383f4e;
}
#menu_user_logged_in_info td.bullet{;
    width: 20px;
}
#menu_user_logged_in_info td.bullet img{;
    width: 20px;
    height: 20px;
}
#menu_user_logged_in_info td.description{
    font-size: 16px;
}
#menu_user_logged_in_stats{
    width: 100%;
    border-spacing: 0px
}
#menu_user_logged_in_stats th{
    font-size: 28px;
}
#menu_user_logged_in_stats td{
    font-size: 11px;
}