#submit_button{ 
	text-align: center;
}

#signupForm{ 
	width: 100%; 
}
#signupForm label.error{
	margin-left: 10px;
	width: auto;
	display: inline;
	color: red;
}
form.cmxform {
	width: 370px;
	color: #333;
}

form.cmxform label {
	color: #333;
}

form.cmxform fieldset {
	border: none;
}


form.cmxform fieldset p, form.cmxform fieldset fieldset {
	padding: 5px 10px 7px;
}

div.error { display: none; }
input {	border: 1px solid black; }
input.checkbox { border: none }
input:focus { border: 1px dotted black; }
input.error { border: 1px dotted red; }
form.cmxform .gray * { color: gray; }

form.cmxform label {
	width: 200px;
	display: inline-block;
	line-height: 1.8;
	vertical-align: top;
	cursor: hand;
}

form.cmxform fieldset p {
	list-style: none;
	padding: 5px;
	margin: 0;
}

form.cmxform label.error {
	margin-left: 103px;
	width: 220px;
}

form.cmxform input.submit {
	margin-left: 103px;
}
#register_table{
    border: 1px solid #b0b1b1;
    width: 100%;
    border-spacing: 0px;
}
#register_table th{
    height: 50px;
    color: #000000;
    text-align: left;
    padding-left: 20px;
    background-image: -webkit-linear-gradient(bottom, rgb(207,230,230) 28%, rgb(227,235,254) 64%);
    background-color: rgb(207,230,230);
}
