form.public_profile_form p.submit_button{
    text-align: left;
}
form.public_profile_form {
    color: #333;
    margin: 7px;
}
form.public_profile_form label {
    color: #333;
}
div.error { 
    display: none; 
}
input { 
    border: 1px solid black; 
}
input.checkbox { 
    border: none 
}
input:focus { 
    border: 1px dotted black; 
}
input.error { 
    border: 1px dotted red; 
}
form.cmxform .gray * { 
    color: gray; 
}
form.public_profile_form label {
    width: 200px;
    display: inline-block;
    line-height: 1.8;
    vertical-align: top;
    cursor: hand;
}
form.public_profile_form label.error {
    margin-left: 103px;
    width: 220px;
}
form.public_profile_form input.submit {
    margin-left: 103px;
}
.email{
    padding-top: 20px;
    padding-left: 25px;
}
.button_verify{
    width: 50px;
}
.button_delete{
    width: 50px;
    padding-right: 25px;
}
.left_padding{
    padding-left: 20px;
}