#public_profile{
    border: 1px solid #b0b1b1;
    width: 100%;
    border-spacing: 0px;
}
#public_profile th{
    height: 50px;
    color: #000000;
    text-align: left;
    padding-left: 20px;
    background-image: -webkit-linear-gradient(bottom, rgb(207,230,230) 28%, rgb(227,235,254) 64%);
    background-color: rgb(207,230,230);
}

#public_profile td{

}
.border{
   border: 3px solid #ddddde; 
}
form.public_profile_form p.submit_button{
    text-align: center;
}
form.public_profile_form {
    color: #333;
    margin: 7px;
}
form.public_profile_form label {
    color: #333;
}
form.public_profile_form fieldset {
    border: none;
}
form.public_profile_form fieldset p, form.public_profile_form fieldset fieldset {
    padding: 5px 10px 7px;
}
div.error { 
    display: none; 
}
input { 
    border: 1px solid black; 
}
input.checkbox { 
    border: none 
}
input:focus { 
    border: 1px dotted black; 
}
input.error { 
    border: 1px dotted red; 
}
form.cmxform .gray * { 
    color: gray; 
}
form.public_profile_form label {
    width: 200px;
    display: inline-block;
    line-height: 1.8;
    vertical-align: top;
    cursor: hand;
}
form.public_profile_form fieldset p {
    list-style: none;
    padding: 5px;
    margin: 0;
}
form.public_profile_form label.error {
    margin-left: 103px;
    width: 220px;
}
form.public_profile_form input.submit {
    margin-left: 103px;
}